.agent
  = hour_log.agent.name if hour_log.agent
.time
  = "%0.2f" % ( hour_log.minutes.minutes.to_f / 1.hours )
  hours
- if hour_log.ticket and hour_log.ticket.contact
  .client
    = hour_log.ticket.contact.name 
