.agent
  = hour_log.agent.name if hour_log.agent
.time
  = "%0.2f" % to_hours( hour_log.minutes )
  hours
- if hour_log.ticket and hour_log.ticket.contact
  .client
    = hour_log.ticket.contact.name 
- if hour_log.project
  .project
    = hour_log.project.organization
