.clear
.span-1
  = link_to "edit", edit_hour_log_path( hour_log ), :class => 'edit button', :title => 'edit'
.span-12
  %h4
    = hour_log.display_name
  - if hour_log.notes
    .notes
      = hour_log.notes

