log/*
db/*.sqlite3
config/mongrel_cluster.yml
config/auth_server.yml
config/basecamp.yml
config/*yml
tmp
config/database.yml
public/ticket_data_imports
public/stylesheets/*css
config/imported*yaml
config/*grudges*yaml
*.DS_Store
