@import settings
#main
  #content
    .preview.active
      :width 500px
      :height 300px
      :white-space pre
      :overflow scroll

a.button
  :display -moz-inline-box
  :display inline-block
  :padding-top 30px
  :overflow hidden
  :width 18px
  :height 18px
  :background-position -2px -2px
  :background-repeat no-repeat
  &.add
    :background-image url(/images/actions/list-add.png)
  &.edit
    :background-image url(/images/actions/edit.png)
.list_toolbar
  :list-style none
  :padding 0
  .delete
    input
      :background url(/images/actions/delete.png)
      :border 0
      :padding 0 0 0 16px
      :cursor pointer
      :background-repeat no-repeat
      &:hover
        :background-color = !toolbar_hover

li.target
  &.accepting
    a
      :border 2px solid
      :border-color = !target_open_border
  &.open
    :background-color = !target_hover
    a
      :border 2px solid
      :border-color = !target_open_border
      :background-color = !target_hover

.hidden
  :display none

.draggable
  :width 300px
  :cursor move
  &.active
    :opacity .5
    :border 3px solid
    :border-color = !target_found

#remote_action
  p.submit, .form-full
    :display block
    :clear both

  .form-group
    :display inline-block
    :display -moz-inline-box
    :float left
    :width 300px
    :margin-right 50px
    p
      :display block
