@import settings
#main
  #content
    .preview.active
      :width 500px
      :height 300px
      :white-space pre
      :overflow scroll


.button
  :color transparent
  :text-decoration none
  :display inline-block
  :width 18px
  :min-height 18px
  :background-position -2px 2px
  :background-repeat no-repeat
  .large &
    :background-position -2px .6em
  &.add
    :background-image url(/images/actions/list-add.png)
  &.edit
    :background-image url(/images/actions/edit.png)
  &.delete
    :background-image url(/images/actions/delete.png)
  &.show
    :background-image url(/images/actions/show.png)
  &.hide
    :background-image url(/images/actions/show.png)

.summary_header
  :cursor pointer

input.button
  :border 0
  :cursor pointer
  :float left
  :background-position 0px 2px
  &:hover
    :color black

li.target
  &.accepting
    a
      :border 2px solid
      :border-color = !target_open_border
  &.open
    :background-color = !target_hover
    a
      :border 2px solid
      :border-color = !target_open_border
      :background-color = !target_hover

.hidden, .js-hidden
  :display none

.draggable
  :width 300px
  :cursor move
  &.active
    :opacity .5
    :border 3px solid
    :border-color = !target_found

p.submit
  :text-align center

input[type=text]
  :margin-top 0.5em

label
  :display block
.checkbox label
  :display inline
#remote_action
  textarea
    :height 25px


#header .search
  :margin-top .2em
  input
    :font-size 1em

.plain
  :list-style none

ul.searching
  & > li
    :display none
  & > li.found
    :display block

a.basecamp_import
  :background url(/images/small_basecamp_icon.png) no-repeat
  :padding-left 60px
  :display block
  :height 60px 
  
.busy
  :background-image url(/images/onramp-busy.gif)
  :background-repeat no-repeat
  :color transparent
  :padding-left 20px

#ajax_message
  :z-index 10000
  :display none
  :opacity .7
  :background-color #959595
  :color #FFFFFF
  :padding 20px
  :font-size 30px
  :text-align center
  :position fixed
  :width 50%
  :top 30%
  :left 25%

