#header {
  clear: both; }
  #header .search {
    float: right; }

#main_menu {
  list-style: none;
  list-position: outside; }
  #main_menu li {
    float: left;
    margin-left: 1em; }

#main {
  clear: both; }

#content {
  float: left; }

.pagination {
  float: right; }


#action_bar {
  clear: left;
  float: left; }
