- content_for :header do
  = render :partial => 'shared/search_by_project'
.index.contacts
  %ul
    = render :partial => 'contacts/list/contact', :collection => @contacts

- content_for :action_bar do
  = render :partial => 'projects/toolbar'
